<nav class="row navbar navbar-expand-lg navbar-light bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color:white" routerLink="">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white" routerLink="about">About</a>
      </li>
    </ul>
    <span class="navbar-text" style="color:white">
      Wisekim App
    </span>
  </div>
</nav>

<router-outlet></router-outlet>