.color-dark {
    background: rgb(27, 28, 29);
    padding: 10px;
    border-radius: 6px;
}
p{
    margin: 0.1rem;
}
.life-container {
    background:rgb(21, 192, 16);
    padding:.5em;
    font-weight:bold;
    border-radius: 6px;
    cursor:pointer;
    margin-bottom: 5px;
}