<br>

<div class="row color-dark">
  <div class="col-6">
    <p>Add a bucket list item</p>
  </div>
  <div class="col-6">
    <p>Your bucket list({{counter}})</p>
  </div>
</div>
<br>
<div class="row color-light"  [@goals]="goals.length">
  <div class="col-6">
    <p>What do you want to accomplish in your life?</p>
    <form class="row">
      <input type="text" class="form-control col-6" name="item" placeholder="Life goal.." [(ngModel)]="goalfield">
      <input type="submit" class="btn btn-primary col-4 ml-auto" [value]="btnText" (click)="addItem()">
    </form>
  </div>
  <div class="col-6">
    <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
      {{goal}}
    </p>
  </div>
</div>